a, button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid rgb(0 0 0 / 80%);
  border-radius: 3px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: rgb(0 0 0 / 5%);
  color: rgb(0 0 0 / 80%);
  transition: background-color 0.1s ease-out;

  &:hover {
    background-color: rgb(110 173 214 / 50%);
  }
}
