.timesheets-add {
  background-color: white;
	color: rgb(0 0 0 / 80%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;

  &__buttons {
    padding: 0.5rem 1rem 2.5rem 0;
  }

  &__form {
    padding: 2rem;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 80%);

    &-input {
      display: flex;
      flex-direction: row;
      padding: 0.5rem 0;
      align-items: center;
    }

    &-label {
      flex-basis: 100px;
    }
  }
}