.timesheets-display {
  background-color: white;
	color: rgb(0 0 0 / 80%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;

  &__message {
    h1 {
      margin-bottom: 0;
    }
  }

  &__buttons {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &--top {
      padding-bottom: 0;
    }
  }

  &__error {
    color: red;
  }

  &__table {
    background-color: white;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: rgb(0 0 0 / 2.5%);
    }

    tr:nth-child(odd) {
      background-color: rgb(0 0 0 / 7.5%);
    }

    tr:first-child {
      background-color: white;
    }
  }

  &__heading {
    padding: 0.5rem 1rem;
    text-align: left;
    border: 1px solid rgb(0 0 0 / 80%);

    &--button {
      border: none;
    }
  }

  &__cell {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0 0 0 / 80%);

    &--date, &--number {
      font-weight: bolder;
    }

    &--button {
      background-color: white;
      padding: 1rem 0.5rem;
      border: none;
    }
  }
}
