.timesheets-display {
  background-color: white;
	color: rgb(0 0 0 / 80%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;

  &__buttons {
    padding: 0.5rem 1rem 2.5rem 0;
  }

  &__table {
    background-color: white;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: rgb(0 0 0 / 2.5%);
    }

    tr:nth-child(odd) {
      background-color: rgb(0 0 0 / 5%);
    }
  }

  &__heading {
    padding: 0.75rem;
    border: 1px solid rgb(0 0 0 / 80%);
  }

  &__cell {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0 0 0 / 80%);

    &--date, &--number {
      font-weight: bolder;
    }
  }
}
