@using Timesheets.Core.Persistence
@using Timesheets.Core.Persistence.Models
@using Timesheets.Core.ViewModels
@model User

@{
    Layout = "_Layout";
}

<div class="timesheets-add">
    <div class="timesheets-add__message">
        <h1>
            Add a new user
        </h1>
    </div>
    <div class="timesheets-add__buttons">
        <a href="/Timesheet/Add">Log work</a>
        <a href="/">View timesheets</a>
    </div>
    <div class="timesheets-add__form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="name">Name</label>
                <input required id="name" name="name" type="text" />
            </div>
            <div class="timesheets-add__form-input">
                <button type="submit">Add</button>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
</div>
