@using Timesheets.Core.Persistence
@using Timesheets.Core.Persistence.Models
@using Timesheets.Core.ViewModels
@model User
@inject TimesheetDbContext ctx;

@{
    Layout = "_Layout";

    List<User> Users = [.. ctx.Users];
}

<div class="timesheets-forms">
    <div class="timesheets-forms__message">
        <h1>
            Delete a user
        </h1>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
        {
            <h2 class="timesheets-forms__error">@ViewBag.Error</h2>
        }
    </div>
    <div class="timesheets-forms__buttons">
        <a href="/">Back to timesheets</a>
    </div>
    <div class="timesheets-forms__form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="user">User</label>
                <select required id="user" name="userId">
                    <option value="">Choose a user...</option>
                    @foreach (var user in Users)
                    {
                        <option value=@user.Id>#@user.Id @user.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-forms__form-input">
                <button type="submit">Delete</button>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
</div>
