@using Timesheets.Core.Persistence
@using Timesheets.Core.Persistence.Models
@using Timesheets.Core.ViewModels
@model Timesheet
@inject TimesheetDbContext ctx;

@{
    Layout = "_Layout";

    List<Person> Persons = [.. ctx.Persons];
    List<Project> Projects = [.. ctx.Projects];
}

<div class="timesheets-add">
    <div class="timesheets-add__message">
        <h1>
            Add your timesheet entry below
        </h1>
    </div>
    <div class="timesheets-add__buttons">
        <a href="/">View timesheets</a>
        <a href="/Project/Add">Add a new project</a>
        <a href="/Person/Add">Add a new person</a>
    </div>
    <div class="timesheets-add__form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="person">Person</label>
                <select required id="person" name="personId">
                    <option value="">Choose a person...</option>
                    @foreach (var person in Persons)
                    {
                        <option value=@person.Id>@person.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="date">Date</label>
                <input required id="date" name="date" type="date" />
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="project">Projects</label>
                <select required id="project" name="projectId">
                    <option value="">Choose a project...</option>
                    @foreach (var project in Projects)
                    {
                        <option value=@project.Id>@project.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="hours">Hours</label>
                <input required id="hours" name="hours" type="number" min="0.25" step="0.25" />
            </div>
            <div class="timesheets-add__form-input">
                <label class="timesheets-add__form-label" for="memo">Memo</label>
                <input required id="memo" name="memo" type="text" />
            </div>
            <div class="timesheets-add__form-input">
                <button type="submit">Add</button>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
</div>