@using Timesheets.Web.Ui.ViewModels
@model AddTimesheetViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="timesheets-form__message">
    <h1>
        Add your timesheet entry below
    </h1>
</div>

<div class="timesheets-form">
    @using (Html.BeginForm())
    {
        <div class="timesheets-form__input">
            <label for="memo">Memo</label>
            <input id="memo" name="memo" type="text" />
        </div>
        <div class="timesheets-form__input">
            <label for="hours">Hours</label>
            <input id="hours" name="hours" type="number" step="0.25" />
        </div>
        <div class="timesheets-form__input">
            <label for="date">Date</label>
            <input id="date" name="date" type="date" />
        </div>
        <div class="timesheets-form__input">
            <label for="person">Person</label>
            <select id="person" name="person">
                <option>Choose a person...</option>
                @foreach (var person in Model.Persons)
                {
                    <option value="@person.Id">@person.Name</option>
                }
            </select>
        </div>
        <div class="timesheets-form__input">
            <label for="project">Projects</label>
            <select id="project" name="project">
                <option>Choose a project...</option>
                @foreach (var project in Model.Projects)
                {
                    <option value="@project.Id">@project.Name</option>
                }
            </select>
        </div>
        <button type="submit">Add</button>
    }
</div>
<div>
    <a href="/">View sheets</a>
</div>