@using Timesheets.Core.Persistence
@using Timesheets.Core.Persistence.Models
@using Timesheets.Core.ViewModels
@model Project

@{
    Layout = "_Layout";
}

<div class="timesheets-forms">
    <div class="timesheets-forms__message">
        <h1>
            Add a new project
        </h1>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
        {
            <h2 class="timesheets-forms__error">@ViewBag.Error</h2>
        }
    </div>
    <div class="timesheets-forms__form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="name">Name</label>
                <input required id="name" name="name" type="text" />
            </div>
            <div class="timesheets-forms__form-input">
                <button type="submit">Add</button>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
    <div class="timesheets-forms__buttons">
        <a href="/">Back to timesheets</a>
    </div>
</div>
