@using Timesheets.Core.Persistence
@using Timesheets.Core.Persistence.Models
@using Timesheets.Core.ViewModels
@model Project
@inject TimesheetDbContext ctx;

@{
    Layout = "_Layout";

    List<Project> Projects = [.. ctx.Projects];
}

<div class="timesheets-forms">
    <div class="timesheets-forms__message">
        <h1>
            Delete a project
        </h1>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
        {
            <h2 class="timesheets-forms__error">@ViewBag.Error</h2>
        }
    </div>
    <div class="timesheets-forms__buttons">
        <a href="/">Back to timesheets</a>
    </div>
    <div class="timesheets-forms__form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="timesheets-forms__form-input">
                <label class="timesheets-forms__form-label" for="project">Projects</label>
                <select required id="project" name="projectId">
                    <option value="">Choose a project...</option>
                    @foreach (var project in Projects)
                    {
                        <option value=@project.Id>@project.Name</option>
                    }
                </select>
            </div>
            <div class="timesheets-forms__form-input">
                <button type="submit">Delete</button>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
</div>
